#app {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px;
}

.game-row {
    display: flex;
    justify-content: space-between;

}

.letter-container {
    border: 3px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.red {
    background-color: red;
    border-color: red;
}

.yellow {
    background-color: yellow;
    border-color: yellow;
}

.green {
    background-color: green;
    border-color: green;
}

form {
    width: 400px;
    display: flex;
    gap: 15px;
}

#guess-input {
    flex-grow: 1;
    padding: 0 15px;
    border-radius: 5px;
}